@charset "UTF-8";

@font-face {
	font-family: "109";
	src: url("a109.ttf");
}
body{
	font-family: "109";
}
.indexTbl{
	width: 100%;
	height: 100%;
}
.titleTh{
	border: solid black 2px;
	width: 100%;
	height: 50px;
	background-color: #a9def9;
	
}
.menuTd {
	border: solid black 2px;
	width: 50%;
	height: 50px;
	background-color: #d0f4de;
	
}
.menuTd:hover{
	background-color: #a8dadc; 
}

.contentTd {
	position: relative;
	border: solid black 2px;
	width: 70%;
	height: 500px;
	
}

.dataDiv {
	position : absolute;
	top: 15%; left: 75%;
	border: solid black 2px;
	width: 200px;
	background-color: #f1faee;
	
}

.regTbl button{
	background-color: #f1faee;
	border: solid black 2px;
	border-radius:12px;
	width: 120px;
	height: 50px;
	margin-top:10px;
	margin-bottom: 5px;
}
.regTbl button:hover{
	background-color: #e63946;
}
.inputTd input{
	background-color: #f1faee;
	width: 120px;
	height: 30px;
	border-top: none;
	border-left: none;
	border-right: none;
}
.inputTd input:hover{
	background-color: #a8dadc;
}

.contentTd {
	background-color: #f1faee;
	
}